:root {
  --blue: #1877f2;
  --white: #ffffff;
  --inputWhite: #f0f2f5;
  --hoverBgWhite: #f0f2f5;
  --hoverBgWhite2: #e7eaef;
}

.messageSender {
  border: 5px red solid;
  width: 100%;
  padding: 0 25px;
  justify-content: center;
  background-color: var(--white);
}

.flex.center {
  display: flex;
  align-items: center;
}

.messageSender__input {
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 10px;
  font-size: 15px;
  flex: 1;
  min-width: 200px;
  border-radius: 5px;
  border: red solid 1px;
  padding: 5px 10px;
}

.messageSender button {
  display: none;
}
